*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#fdf8f3,#fffefc);
font-family:Poppins,sans-serif;
}

.container{
width:90%;
max-width:500px;
background:white;
padding:40px;
border-radius:25px;
text-align:center;
box-shadow:0 10px 30px rgba(0,0,0,.12);
}

h1{
font-family:"Cormorant Garamond",serif;
font-size:40px;
margin-bottom:20px;
}

p{
color:#666;
margin-bottom:35px;
line-height:1.8;
}

button{
background:black;
color:white;
border:none;
padding:15px 30px;
border-radius:50px;
font-size:17px;
cursor:pointer;
transition:.3s;
}

button:hover{
transform:scale(1.05);
}
